<beans       xmlns:mvc="http://www.springframework.org/schema/mvc"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"

             xmlns:tx="http://www.springframework.org/schema/tx"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/mvc
             http://www.springframework.org/schema/mvc/spring-mvc.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx.xsd"
        >

    <!--apache tiles-->
    <bean id="tilesViewResolver"
          class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
    </bean>

    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles.xml</value>
            </list>
        </property>
    </bean>
    <!--apache tiles-->

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="webBindingInitializer">
            <!-- Configures Spring MVC DataBinder instances -->
            <bean class="org.springframework.web.bind.support.ConfigurableWebBindingInitializer">
                <property name="validator" ref="validator"/>
            </bean>
        </property>
        <property name="messageConverters">
            <array>
                <bean class = "org.springframework.http.converter.StringHttpMessageConverter">
                    <property name="supportedMediaTypes" value = "text/plain;charset=UTF-8" />
                </bean>
            </array>
        </property>
    </bean>

    <bean id="propertyConfigurer"
                class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/properties/env.properties</value>
                <value>classpath:/properties/emailConfig.properties</value>
                <value>classpath:/properties/multipartConfig.properties</value>
                <value>classpath:/properties/jdbcConfig.properties</value>
                <value>classpath:/properties/localizationConfig.properties</value>
            </list>
        </property>

    </bean>

    <!-- Creates the JSR-303 Validator -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <context:component-scan base-package="myapp"/>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="multipartResolver"
                class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${multipart.maxUploadSize}"/>
    </bean>

    <bean class="org.springframework.mail.javamail.JavaMailSenderImpl" id="mailSender">
        <property name="host" value="${email.host}"/>
        <property name="port" value="${email.port}"/>
        <property name="username" value="${email.username}"/>
        <property name="password" value="${email.password}"/>
        <property name="defaultEncoding" value="${email.defaultEncoding}"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${email.javaMailProperties.mail.smtp.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${email.javaMailProperties.mail.smtp.starttls.enable}
                </prop>
            </props>
        </property>
    </bean>

    <mvc:annotation-driven/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/instagram"/>
        <property name="username" value="root"/>
        <property name="password" value="113355"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:config/hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${jdbc.hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${jdbc.hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>

    <context:annotation-config/>

    <tx:annotation-driven/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <!--localization-->
    <bean id="messageSource"
                class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="myLocalizationMessages"/>
        <property name="defaultEncoding" value="${localization.defaultEncoding}"/>
        <property name="useCodeAsDefaultMessage" value="true"/>
    </bean>

    <bean id="localeChangeInterceptor"
                class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="${localization.paramName}"/>
    </bean>

    <bean id="localeResolver"
                class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property name="defaultLocale" value="${localization.defaultLocale}"/>
    </bean>

    <bean id="handlerMapping"
                class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors" ref="localeChangeInterceptor"/>
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="${localization.paramName}"/>
        </bean>
        <mvc:interceptor>
            <mvc:mapping path="/picturetags/add/**"/>
            <mvc:mapping path="/albums/**"/>
            <mvc:mapping path="/user/**"/>
            <mvc:mapping path="/gallery/getPage/**"/>
            <mvc:mapping path="/"/>
            <mvc:mapping path="/images/edit/**"/>
            <mvc:mapping path="/images/delete/**"/>
            <mvc:mapping path="/users/**"/>
            <mvc:mapping path="/dialog/**"/>
            <mvc:mapping path="/forms/**"/>
            <mvc:mapping path="/forms/edit/**"/>
            <mvc:mapping path="/friends/"/>
            <ref bean="mediaFolderHandlerInterceptorAdapter"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--localization-->

</beans>
